@font-face {
  font-family: "Precious";
  src: url("assets/fonts/Precious.ttf") format("truetype"),
       url("assets/fonts/Precious.ttf") format("truetype");
}

* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}

/* Title */
h1 {
  text-align: center;
  color: #f8d640;
  font-family: 'Precious';
  font-weight: lighter;
  font-size: 50px;
  opacity: 0.95;
}

/* Divs and Buttons */

.app {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.time-select button,
.sound-picker button {
  color: #ffe262;
  width: 30%;
  height: 20%;
  background: none;
  font-size: 28px;
  border-radius: 5.5px;
  cursor: pointer;
  border: 3px solid #790c5a;
  transition: all 0.9s ease;
  font-family: 'Precious';
  opacity: 0.98;
}

.sound-picker button {
  border: none;
  height: 75px;
  width: 75px;
  padding: 14px;
  border-radius: 50%;
  border: 3px solid #790c5a;
  transition: all 0.9s ease;
  opacity: 0.88;
}

.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: #7c2d66;
  color: #f8d640;
  opacity: 3;
  box-shadow: 0 0 4em #790c5a;
}

.sound-picker button:hover {
  background: #7c2d66;
  color: #f8d640;
  opacity: 3;
  box-shadow: 0 0 4em #790c5a;
}

.button.play {
  border-style: solid;
  border-color: #7d0633;
  border-color: red blue green yellow;
  box-sizing: border-box;
  border-width: 34px 0px 34px 74px;
  border-color: transparent transparent transparent #753563;
  opacity: 0.85;
  background: transparent;
}

.button.play:hover {
  opacity: 1;
  transition: all 0.8s ease;
  box-shadow: 0 0 4em #790c5a;
  cursor: pointer;
}

.button.pause {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #790c5a;
  border-style: double;
  border-width: 0px 37px 0px 37px;
  border-width: 0px 0px 0px 37px;
  border-color: #790c5a;
  display: none;
}

.player-container {
  position: relative;
  height: 47%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: -3;
  opacity: 0.85;
}

.player-container svg {
  position: absolute;
  bottom: -10%;
  height: 60%;
  left: 48%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.time-display {
  position: absolute;
  font-size: 25px;
  bottom: -15%;
  background: none;
  color: #ffe262;
  box-shadow: 0 0 5em #470234;
}

/* Video */

video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
